@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* ===== UI KIT ===== */

:root {
  /* Colors */
  --color-main: #323264;
  --color-main-alt: #46466e;
  --color-main-soft: #686887;
  --color-accent: #f0145a;
  --negative: #ec6f5d;

  --color-active-regular: #24a3ff;
  --color-active-hover: #0085ff;
  --color-active-active: #006ccf;

  --grey-bg: #f5f5fa;
  --grey-bg-alt: #ededf7;
  --grey-text: #b3b3ba;
  --grey-separator: #e6e6f0;
  --basic-white: #fff;

  /* Gradients */
  --gradient-regular: linear-gradient(
    129deg,
    #323264 0%,
    #323264 73.96%,
    #a54b5f 100%
  );
  --gradient-soft: linear-gradient(
    42deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  --gradient-red: linear-gradient(323deg, #f0145a 6.7%, #693264 70.36%);
  --gradient-supersoft: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  --gradient-red-text: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);

  /* Typography */
  --font-family: "Montserrat", sans-serif;
  --font-regular: 400;
  --font-bold: 700;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  background: var(--gradient-supersoft);
  color: var(--basic-white);
}

a,
button {
  cursor: pointer;
}

.hero {
  font-size: 38px;
  font-weight: var(--font-bold);
  line-height: 1.2;

  background: var(--gradient-red-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 30px;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 22px;
  font-weight: var(--font-bold);
}

.h3--caps {
  font-size: 14px;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-weight: var(--font-bold);
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

ul,
ol {
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

a {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-active-regular);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

/* ===== HEADER ===== */
.header {
  color: var(--basic-white);
}

.header__container {
  padding: 50px 160px 0 160px;
}
.header a {
  color: var(--Basic-White, #fff);
  font-weight: var(--font-bold);
}

.header__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.header__lang-contact {
  display: flex;
  align-items: center;
}

.header-dot-icon {
  margin: 0 6px;
}

.header__lang-item {
  padding: 5px 7px;
  font-weight: var(--font-bold);
}

.header__lang-item--active {
  border-radius: 8px;
  background: var(--color-accent);
}

/* ===== HERO ===== */
.hero-section {
  min-height: 100vh;
}

.hero-section__content {
  display: flex;
  align-items: center;
}

.hero-section__background-image {
  position: relative;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.hero-section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-section__scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.hero-section__scroll-button {
  background: none;
  color: var(--basic-white);
}

.hero-section__scroll-button :hover {
  color: var(--color-accent);
}

/* ===== VALUES ===== */
.values-section {
  padding: 60px 0;
}

.values-section__container {
  display: flex;
  justify-content: center;
}

.values-section__sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}

.values-sidebar__button,
.values-sidebar__button--active {
  background: transparent;
  font-size: 38px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
}

.values-sidebar__button--active {
  background: var(
    --Gradient-Text-Red-Reversed,
    linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.values-sidebar__button {
  color: var(--Grey-Text, #b3b3ba);
}

.values-section__divider {
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 60px;
}

.values-section__content {
  max-width: 581px;
}

.values-section__title {
  margin-bottom: 30px;
}

.values-section__description {
  color: var(--Basic-White, #fff);
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 30px;
}

/* ===== SERVICES ===== */

.services-section {
  padding: 0 60px 60px 60px;
  position: relative;
  border-radius: 0 0 12px 12px;
  z-index: 1;
}

.services-section::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  height: 10px;
  background: #cacadb;
  border-radius: 0 0 12px 12px;
  z-index: -1;
}

.services-section::before {
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background: #e7e7f2;
  z-index: -2;
}

.services-section__link {
  display: flex;
  align-items: center;
  gap: 2px;
}

.services-section__title {
  margin: 10px 0 60px;
}

.services-section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}

.service-card__title {
  color: var(--Active-Regular, #24a3ff);
  margin: 30px 0 15px;
}

.service-card__text {
  color: var(--Basic-White, #fff);
  font-style: normal;
  font-weight: var(--font-regular);
}

.service-card__icon {
  border-radius: 24px;
  background: var(--Basic-White, #fff);
  padding: 14px;
}

/* ===== TEAM ===== */
.team-section {
  padding: 60px 60px;
  background: var(--basic-white);
}

.team-section__title {
  margin-bottom: 5px;
}

.team-section__image-wrapper {
  width: 400px;
  height: 344px;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
}

.team-section__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .team-section__container {
  display: flex;
  align-items: flex-start;
} */

.team-section__content-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.team-section__content {
  padding: 30px;
  body {
    background: var(--grey-bg);
  }
  border-radius: 12px;
}

.team-section__quote {
  max-width: 860px;
  margin-bottom: 30px;
}

.team-section__quote-author,
.team-section__author-title {
  color: var(--Grey-Text, #b3b3ba);
  display: block;
}

.team-section__quote-author {
  margin-bottom: 6px;
}

.team-section__author-title {
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 22px;
}

.team-section__title {
  display: flex;
  align-items: center;
}

.team-section__navigation {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.team-section__navigation button {
  background: transparent;
}

.team-section__navigation-item--active svg {
  color: var(--Active-Regular, #24a3ff);
}

.team-section__navigation-item svg {
  color: var(--Active-Regular, #24a3ff);
  opacity: 0.2;
}

/* ===== CLIENTS ===== */
.clients-section {
  background: var(--basic-white);
  padding-bottom: 60px;
}

.clients-section__title {
  text-align: center;
  color: var(--color-main);
  margin-bottom: 30px;
}

.clients__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 12px;
  overflow: hidden;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item--hillel {
  background: #1c4280;
}

.clients__item--wannabiz {
  background: #143646;
}

.clients__item--tapgerine {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}

.clients__item--3dlook {
  background: #9e4dc3;
}

.clients__item--orangear {
  background: #fd9339;
}

.clients__item--adtelligent {
  background: #e2e2e4;
}

.clients__item--clickky {
  background: #c71c36;
}

.clients__item--eco-leasing {
  background: #dcf3f9;
}

.clients__item--infratek {
  background: #eaeaea;
}

.clients__item--city-park {
  background: #282240;
}

.clients__item--art-print {
  background: #1d4568;
}

.clients__item--ultimate-card {
  background: #000;
}

.clients__logo {
  max-width: 70%;
  max-height: 60%;
  object-fit: contain;
}

.clients__item--infratek .clients__logo {
  max-height: 100%;
  max-width: 100%;
}

.clients__item--ultimate-card .clients__logo {
  max-height: 70%;
  max-width: 100%;
}

.clients__grid-wrapper {
  padding: 0 100px;
}

/* ===== PUBLICATIONS ===== */
.publications-section {
  background: var(--grey-bg);
  padding: 30px 0;
}

.publications-section__container {
  padding: 0 160px;
}

.publications__title {
  margin-bottom: 30px;
}

.publications__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.publication-card {
  background: var(--basic-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.publication-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.publication-card__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.publications-section__title-link {
  display: flex;
  align-items: center;
  gap: 2px;
}

.publications-section__title {
  margin-bottom: 10px;
}

.publication-card__date {
  color: var(--Grey-Text, #b3b3ba);
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publication-card__text {
  color: var(--Basic-Black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 22px;
}

.publication-card__divider {
  height: 4px;
  background: var(--grey-separator);
  width: 100%;
}

/* ===== FOOTER ===== */
footer {
  background: var(--grey-bg);
  padding: 0 160px 30px 160px;
  position: relative;
}

.footer__divider {
  height: 2px;
  background: var(--grey-separator);
  width: 100%;
  margin-bottom: 30px;
}

.footer__adress-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-dot-icon {
  color: var(--basic-white);
}

.footer-dot-icon {
  color: var(--grey-text);
}

.footer__address {
  color: var(--color-main);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: normal;
}

.footer__contact-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.footer__phone {
  color: var(--color-main-alt);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
}

.footer__map-link {
  color: var(--color-active-regular);
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__email {
  color: var(--color-active-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
}

.footer__copyright {
  color: var(--Grey-Text, #b3b3ba);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: normal;
  position: absolute;
  right: 160px;
}

/* ===== CONTACT-FORM-POPUP ===== */
.contact-popup-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__overlay {
  position: absolute;
  inset: 0;
  background: #7b7d9a;
  opacity: 0.7;
}

.popup__window {
  position: relative;
  width: 650px;
  height: 612px;
  background: var(--basic-white);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: var(--grey-bg);
  box-shadow: 0 15px 80px 0 rgba(40, 40, 86, 0.5);
}

.popup__close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--negative);
}

.popup__close-button:hover {
  background: var(--grey-separator);
  border-radius: 6px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup__textarea {
  height: 130px;
}

.popup__button {
  padding: 18px 30px;
  border-radius: 12px;
  background: var(--color-active-regular);
  box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  cursor: pointer;
  color: var(--basic-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
  margin-bottom: 30px;
}

.popup__button:hover {
  background: #0f96e4;
}

.popup__input {
  border-radius: 8px;
  border: 1px solid var(--basic-white);
  background: var(--basic-white);
  padding: 15px;
}

.popup__textarea {
  padding: 15px;
}

.popup__textarea,
.popup__input {
  color: var(--grey-text);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 26px;
}

.popup__title {
  margin-bottom: 30px;
}

.popup__contact-title {
  color: var(--grey-text);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
