* {
  font-family: "Cera Pro", sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.woff2") format("woff2"),
    url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"),
    url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2"),
    url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"),
    url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.woff2") format("woff2"),
    url("../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

.featured-articles-section {
  padding: 68px 119px 0px;
  margin-bottom: 138px;
}

.blog-posts-section {
  padding: 0px 119px 68px;
}

.featured-articles-wrapper {
  display: flex;
  gap: 28px;
}

.featured-article {
  display: flex;
  background: #fbfbfb;
}

.featured-article-image {
  width: 287px;
  height: 292px;
  flex-shrink: 0;
}

.featured-article-content {
  padding: 89px 30px 46px 0px;
  display: flex;
  flex-direction: column;
  text-align: end;
  max-width: 300px;
}

.featured-article-content h3 {
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.featured-article-content p {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.featured-article-btn {
  padding: 11px 27px 9px;
  border-radius: 6px;
  background: #46a358;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  gap: 5px;
}

.featured-article-btn span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.blog-posts-wrapper {
  display: flex;
  gap: 44px;
}

.blog-posts-section > h2 {
  color: #3d3d3d;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.blog-posts-section > p {
  color: #727272;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}

.blog-card {
  max-width: 268px;
  background: #fbfbfb;
}

.blog-card-content {
  text-align: left;
  padding: 9px 11px 13px 15px;
}

.blog-card-content p:first-of-type {
  color: #46a358;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
}

.blog-card-content h3 {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 4px;
}

.blog-card-content p {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 9px;
}

.blog-card-btn {
  background-color: inherit;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.blog-card-btn span {
  margin-right: 3px;
}

.icon-arrow-right-v1 {
  color: #fff;
  fill: currentColor;
}
